.headers{font-family:'Verdana',sans-serif;color:#0ad;margin-bottom:50px}h1{font-size:26px;font-family:'Verdana',sans-serif;color:#0ad;margin-bottom:50px}h2{font-size:20px;font-family:'Verdana',sans-serif;color:#0ad;margin-bottom:50px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
